# python dev stuff
__pycache__
*.py[cod]
*bin/
*build/
*dist/
*env/
*.obj/

# C
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Data
Ground_truth/*

vcpkg/

.vscode/

sample_data/output/

src/spike_find/_version.py

profiles/

tests/sample_data/output/